server:
  port: 8083

spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest

      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        spring.json.trusted.packages: >
          com.jobtracker.notification.kafka.event,
          com.jobtracker.job.kafka.event
        spring.json.value.default.type: com.jobtracker.notification.kafka.event.JobEvent
        spring.json.use.type.headers: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: jayashyam2023@gmail.com
    password: ftoirhrixcolucvy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
